*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    /* background-image: url(assets/images/new-background.avif); */
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

nav{
    background-color: rgb(5,96,167); /* Same Blue as Resume */
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(225, 223, 223);
}

nav a:hover{
    background-color: rgb(6, 110, 190);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

/* Section Styling */
section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Heading Styles */
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

/* About Section */
#about p {
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

/* Experience Section */
.work-experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.job-info h3 {
    margin: 0;
    color: black;
}

.date-button {
    text-align: right;
}

.date-range {
    margin-bottom: 10px;
    color: var(--accent-color);
}

.report-button {
    border-color: black;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: center;
}

.report-button:hover {
    background-color: var(--secondary-color);
}

/* Education Section */
.education-details {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.education-details h3 {
    margin: 0;
    color: var(--text-color);
}

.education-details p {
    margin-top: 5px;
    color: var(--accent-color);
}

/* Projects Section */
.project {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
    color: var(--text-color);
}

.project p {
    margin-top: 10px;
    color: var(--accent-color);
}


@media(max-width:850px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}

